In [1]:
import glob
import os
import pandas as pd

from bs4 import BeautifulSoup

## Какие-то файлы формата `.csv`

In [2]:
def cut_question(q):
    """
    Удаляет ответы из вопроса
    """
    if '\n' in q:
        end = q.find('\n')
        return q[:end]
    else:
        for symb in ['[F.]','[T.]','[F]','[T]','(False)','(True)', '(True0']:
            if q.find(symb) != -1:
                end = q.find(symb) 
                return q[:end]

In [3]:
folder_name = 'dataverse_files_2'
file_type = 'csv'
seperator =','

survey_fcasts = pd.DataFrame()
pm_transactions = pd.DataFrame()

for f in glob.glob(folder_name + "/*."+file_type):
    data = pd.read_csv(f, sep=seperator, low_memory=False, encoding='ISO-8859-1')
    
    if f[18:31] == 'survey_fcasts':
        survey_fcasts = pd.concat([survey_fcasts, data])
    elif f[18:33] == 'pm_transactions':
        pm_transactions = pd.concat([pm_transactions, data])

In [4]:
survey_fcasts.shape

(3143460, 16)

In [5]:
survey_fcasts.head(2)

,ifp_id,ctt,cond,training,team,user_id,forecast_id,fcast_type,answer_option,value,fcast_date,expertise,q_status,viewtime,year,timestamp
0,1244-0,5s3,5,s,3.0,3304.0,600001.0,1,a,0.01,2014-07-30,NaN,closed,60.0,4,2014-07-30 10:04:51
1,1244-0,5s3,5,s,3.0,3304.0,600001.0,1,b,0.99,2014-07-30,NaN,closed,60.0,4,2014-07-30 10:04:51

In [6]:
pm_transactions.shape

(654764, 46)

In [7]:
pm_transactions.head(2)

,timestamp,IFPID,Outcome,User.ID,Op.Type,Order.ID,isBuy,isLong,With.MM,By.Agent,...,type,quantity,spent,created.at,filled.at,price_before,price_after,probability_estimate,gjp.user.id,Team
0,2013-07-31 09:42:02,1210.0,b,4184.0,orderCreate,1.0,True,False,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-07-31 09:44:41,1216.0,a,4184.0,orderCreate,2.0,True,False,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---
---

In [8]:
folder_name = 'dataverse_files'
file_type = 'csv'
seperator =','

batch_orders = pd.DataFrame()
transaction = pd.DataFrame()

for f in glob.glob(folder_name + "/*."+file_type):
    if f[16:] == 'ifps.csv':
        ifps = pd.read_csv(f, sep=seperator, encoding='ISO-8859-1')
    else:
        data = pd.read_csv(f, sep=seperator)

    if f[16:30] == 'pm_transaction':
        transaction = pd.concat([transaction, data])
    elif f[16:30] == 'pm_batch_order':
        batch_orders = pd.concat([batch_orders, data])

In [9]:
transaction.shape

(203776, 13)

In [10]:
transaction.head(2)

,Trade.ID,Market.Name,Stock.Name,Trade.Type,Quantity,Spent,Created.At,Filled.At,Price.Before,Price.After,Probability.Estimate,GJP.User.ID,GJP.Team.ID
0,7873,1383 - Who will win the April 2014 presidentia...,Abdullah Abdullah,Buy,90,4902.84,8/20/14 0:08,8/20/14 0:08,50.00%,58.91%,75.00%,21021,NaN
1,7875,1244 - Will India and/or Brazil become a perma...,Yes,Sell,30,-1455.02,8/20/14 0:10,8/20/14 0:10,50.00%,47.01%,15.00%,21021,NaN

In [11]:
batch_orders.shape

(17461, 10)

In [12]:
batch_orders.head()

,Batch.Order.ID,Market.Name,Stock.Name,Order.Type,Price,Quantity,Created.At,Quantity.Filled,GJP.User.ID,GJP.Team.ID
0,741,1360 - What will be the outcome of Mohammed Mo...,A guilty verdict and a death sentence,sell,80,100,8/20/14 0:07,0,13351,NaN
1,742,1399 - Will a referendum on Quebec's affiliati...,If Parti Quebecois does not hold a majority of...,sell,30,100,8/20/14 0:09,0,13351,NaN
2,743,"1394 - Before 31 December 2014, will China *se...",Yes,sell,30,100,8/20/14 0:10,0,13351,NaN
3,748,1360 - What will be the outcome of Mohammed Mo...,A guilty verdict and a death sentence,sell,70,100,8/20/14 0:20,0,13351,NaN
4,752,"1394 - Before 31 December 2014, will China *se...",Yes,sell,30,100,8/20/14 0:26,0,13351,NaN

In [13]:
ifps.shape

(617, 14)

In [14]:
ifps.head(2)

,ifp_id,q_type,q_text,q_desc,q_status,date_start,date_suspend,date_to_close,date_closed,outcome,short_title,days_open,n_opts,options
0,1001-0,0,"Will the Six-Party talks (among the US, North ...",'In' refers to any time during the remainder o...,closed,9/1/11,12/30/11 0:00,12/31/11,1/2/12,b,Six-party talks resume,123.0,2,"(a) Yes, (b) No"
1,1002-0,0,Who will be inaugurated as President of Russia...,'In' refers to any time during the 2012 calend...,closed,9/1/11,5/14/12 0:00,5/15/12,5/6/12,b,president of Russia,248.0,3,"(a) Medvedev, (b) Putin, (c) Neither"

### Другой файл, к нему readme есть

In [15]:
all_individual_differences = pd.read_csv('all_individual_differences.csv', encoding='ISO-8859-1', low_memory=False)
all_individual_differences.user_id = all_individual_differences.user_id.fillna(-1).astype(int)

all_individual_differences.shape

(14001, 1539)

In [16]:
all_individual_differences.head()

,user_id,userid_yr4,gender_yr123,gender_yr4,ed_yr12,ed_yr3,ed_yr4,citizen_yr123,citizen_yr4,workhours_yr3,...,motivation_3,motivation_4,motivation_5,motivation_6,motivation_7,motivation_8,motivation_intrinsic_score,motivation_prosocial_score,motivation_extrinsic_score,age
0,3,NaN,1.0,NaN,2.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-29
1,5,NaN,1.0,NaN,2.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50-54
2,6,NaN,1.0,NaN,1.0,4.0,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70-74
3,10,NaN,1.0,NaN,3.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-39
4,14,NaN,0.0,NaN,3.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55-59

## Вытаскиваем вопросы и ответы:

In [17]:
def get_questions(data : pd.DataFrame, q_col: str) -> pd.DataFrame:
    """
    Создает df с вопросами
    """
    q_num     = list(map(lambda q: q[:4], data[q_col].unique()))
    questions = list(map(lambda q: q[7:], data[q_col].unique()))

    questions = pd.DataFrame(zip(q_num, questions), columns=['number','questions'])
    
    return questions

In [18]:
q_transaction = get_questions(transaction, 'Market.Name')
q_batch_orders = get_questions(batch_orders, 'Market.Name')
q_ifps = pd.DataFrame(ifps['q_text'].unique(), columns=['questions'])


all_questions_future = pd.concat([q_transaction.questions, 
                                  q_batch_orders.questions, 
                                  q_ifps.questions]).reset_index(drop=True)
all_questions_future = pd.DataFrame(all_questions_future)

# show some of them
(
all_questions_future.questions[0], 
all_questions_future.questions[391], 
all_questions_future.questions[765] 
)

('Who will win the April 2014 presidential elections in Afghanistan?',
 'Will any country officially announce its intention to withdraw* from the Eurozone before 1 April 2013?',
 'Will there be a **lethal confrontation between Chinese and Indian **national military forces **before 1 June 2015?')

___
___

In [19]:
with open('all_individual_differences.README.html', encoding='ISO-8859-1') as f:
    soup = BeautifulSoup(f.read(), 'lxml')

In [20]:
all_questions = []
q_topics = soup.find_all('ol')

for topic in q_topics:
    for question in topic.find_all('li'):
        all_questions.append(question.text)\

ques = pd.DataFrame(all_questions, columns=['questions'])
        
# Political Knowledge - True/False
year_1_items = ques.questions[:34]
year_2_items = ques.questions[35:85]
year_3_items = ques.questions[85:140]

# Political Knowledge - Multiple Choice
# удалить после /n все, 211 - 275 ответы
year_3_4_multiple = []
for i in range(140,215,5):
    year_3_4_multiple.append(ques.questions[i])

    
# По 8 вопросов на тему
# China questions
china_questions = []
start = 275
for i in range(start, start + 40,5):
    china_questions.append(ques.questions[i])

    
# Global Economy questions
economy_questions = []
start = 347
for i in range(start, start + 40,5):
    economy_questions.append(ques.questions[i])

    
# Irac questions
irac_questions = []
start = 419
for i in range(start, start + 40,5):
    irac_questions.append(ques.questions[i])


# Russia questions
russia_questions = []
start = 491
for i in range(start, start + 40,5):
    russia_questions.append(ques.questions[i])


# General Political Knowledge
general_political_questions = [ques.questions[564]]
start = 568
for i in range(start, start + 70,5):
    general_political_questions.append(ques.questions[i])

    
# Financial Literacy
financial_questions = []
for num in [697, 702, 707, 713, 717]:
    financial_questions.append(ques.questions[num])

In [21]:
all_questions_present = year_3_4_multiple + china_questions + economy_questions +\
                irac_questions + russia_questions +\
                general_political_questions + financial_questions +\
                year_1_items.to_list() + year_2_items.to_list() + year_3_items.to_list()

all_questions_present = pd.DataFrame(all_questions_present, columns=['questions'])
all_questions_present.questions = all_questions_present.questions.apply(lambda q: cut_question(q))

**Оъединим вопросы про будущее и про понимание**

In [24]:
all_questions = pd.concat([all_questions_present, all_questions_future]).reset_index(drop=True)
all_questions.iloc[[56,105,2],:]

                                           questions
56        Who is the U.S. National Security Adviser?
105  Switzerland is a member of the European Union.
2    What country did Kosovo seek independence from?

In [26]:
print(f'Всего вопросов доступно : {all_questions.shape[0]}')

Всего вопросов доступно : 1016