In [1]:
import glob
import os
import pandas as pd

from bs4 import BeautifulSoup

In [2]:
def cut_question(q):
    """
    Удаляет ответы из вопроса
    """
    if '\n' in q:
        end = q.find('\n')
        return q[:end]
    else:
        for symb in ['[F.]','[T.]','[F]','[T]','(False)','(True)', '(True0']:
            if q.find(symb) != -1:
                end = q.find(symb) 
                return q[:end]

In [8]:
survey_fcasts = pd.DataFrame()

file_type = 'csv'
seperator =','

for f in glob.glob("*." + file_type):
    data = pd.read_csv(f, sep=seperator, low_memory=False, encoding='ISO-8859-1')
    survey_fcasts = pd.concat([survey_fcasts, data])
    

ifps = pd.read_csv('ifps.csv', sep=seperator, encoding='ISO-8859-1')

In [9]:
survey_fcasts.shape

(3144077, 28)

In [10]:
survey_fcasts.head(2)

,ifp_id,q_type,q_text,q_desc,q_status,date_start,date_suspend,date_to_close,date_closed,outcome,...,user_id,forecast_id,fcast_type,answer_option,value,fcast_date,expertise,viewtime,year,timestamp
0,1001-0,0.0,"Will the Six-Party talks (among the US, North ...",'In' refers to any time during the remainder o...,closed,9/1/11,12/30/11 0:00,12/31/11,1/2/12,b,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1002-0,0.0,Who will be inaugurated as President of Russia...,'In' refers to any time during the 2012 calend...,closed,9/1/11,5/14/12 0:00,5/15/12,5/6/12,b,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
ifps.shape

(617, 14)

In [12]:
ifps.head(2)

,ifp_id,q_type,q_text,q_desc,q_status,date_start,date_suspend,date_to_close,date_closed,outcome,short_title,days_open,n_opts,options
0,1001-0,0,"Will the Six-Party talks (among the US, North ...",'In' refers to any time during the remainder o...,closed,9/1/11,12/30/11 0:00,12/31/11,1/2/12,b,Six-party talks resume,123.0,2,"(a) Yes, (b) No"
1,1002-0,0,Who will be inaugurated as President of Russia...,'In' refers to any time during the 2012 calend...,closed,9/1/11,5/14/12 0:00,5/15/12,5/6/12,b,president of Russia,248.0,3,"(a) Medvedev, (b) Putin, (c) Neither"

### Другой файл, к нему readme есть

In [14]:
all_individual_differences = pd.read_csv('all_individual_differences.csv', encoding='ISO-8859-1', low_memory=False)
all_individual_differences.user_id = all_individual_differences.user_id.fillna(-1).astype(int)

all_individual_differences.shape

(14001, 1539)

In [15]:
all_individual_differences.head()

,user_id,userid_yr4,gender_yr123,gender_yr4,ed_yr12,ed_yr3,ed_yr4,citizen_yr123,citizen_yr4,workhours_yr3,...,motivation_3,motivation_4,motivation_5,motivation_6,motivation_7,motivation_8,motivation_intrinsic_score,motivation_prosocial_score,motivation_extrinsic_score,age
0,3,NaN,1.0,NaN,2.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-29
1,5,NaN,1.0,NaN,2.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50-54
2,6,NaN,1.0,NaN,1.0,4.0,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70-74
3,10,NaN,1.0,NaN,3.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-39
4,14,NaN,0.0,NaN,3.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55-59

## Вытаскиваем вопросы и ответы:

In [16]:
def get_questions(data : pd.DataFrame, q_col: str) -> pd.DataFrame:
    """
    Создает df с вопросами
    """
    q_num     = list(map(lambda q: q[:4], data[q_col].unique()))
    questions = list(map(lambda q: q[7:], data[q_col].unique()))

    questions = pd.DataFrame(zip(q_num, questions), columns=['number','questions'])
    
    return questions

In [17]:
q_ifps = pd.DataFrame(ifps['q_text'].unique(), columns=['questions'])


# show some of them
(
q_ifps.questions[0], 
q_ifps.questions[391], 
q_ifps.questions[200] 
)

('Will the Six-Party talks (among the US, North Korea, South Korea, Russia, China, and Japan) formally resume in 2011?',
 'Will **national military force(s) from one or more countries *intervene in Syria **before 1 December 2014?',
 'When will Mariano Rajoy vacate the office of Prime Minister of Spain?')

___
___

In [18]:
with open('all_individual_differences.README.html', encoding='ISO-8859-1') as f:
    soup = BeautifulSoup(f.read(), 'lxml')

In [19]:
all_questions = []
q_topics = soup.find_all('ol')

for topic in q_topics:
    for question in topic.find_all('li'):
        all_questions.append(question.text)\

ques = pd.DataFrame(all_questions, columns=['questions'])
        
# Political Knowledge - True/False
year_1_items = ques.questions[:34]
year_2_items = ques.questions[35:85]
year_3_items = ques.questions[85:140]

# Political Knowledge - Multiple Choice
# удалить после /n все, 211 - 275 ответы
year_3_4_multiple = []
for i in range(140,215,5):
    year_3_4_multiple.append(ques.questions[i])

    
# По 8 вопросов на тему
# China questions
china_questions = []
start = 275
for i in range(start, start + 40,5):
    china_questions.append(ques.questions[i])

    
# Global Economy questions
economy_questions = []
start = 347
for i in range(start, start + 40,5):
    economy_questions.append(ques.questions[i])

    
# Irac questions
irac_questions = []
start = 419
for i in range(start, start + 40,5):
    irac_questions.append(ques.questions[i])


# Russia questions
russia_questions = []
start = 491
for i in range(start, start + 40,5):
    russia_questions.append(ques.questions[i])


# General Political Knowledge
general_political_questions = [ques.questions[564]]
start = 568
for i in range(start, start + 70,5):
    general_political_questions.append(ques.questions[i])

    
# Financial Literacy
financial_questions = []
for num in [697, 702, 707, 713, 717]:
    financial_questions.append(ques.questions[num])

In [20]:
all_questions_present = year_3_4_multiple + china_questions + economy_questions +\
                irac_questions + russia_questions +\
                general_political_questions + financial_questions +\
                year_1_items.to_list() + year_2_items.to_list() + year_3_items.to_list()

all_questions_present = pd.DataFrame(all_questions_present, columns=['questions'])
all_questions_present.questions = all_questions_present.questions.apply(lambda q: cut_question(q))

**Оъединим вопросы про будущее и про понимание**

In [21]:
all_questions = pd.concat([all_questions_present, q_ifps]).reset_index(drop=True)
all_questions.iloc[[56,105,2],:]

                                           questions
56        Who is the U.S. National Security Adviser?
105  Switzerland is a member of the European Union.
2    What country did Kosovo seek independence from?

In [22]:
print(f'Всего вопросов доступно : {all_questions.shape[0]}')

Всего вопросов доступно : 733